body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
   height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;   
}

.container {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 30px;
}

form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

form button {
  grid-column: span 2;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background-color: #43a047;
}

.product-list {
  list-style: none;
  padding: 0;
}

.product-item {
  background-color: #332d2d;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-item span {
  display: block;
  font-size: 14px;
}

.product-buttons {
  display: flex;
  gap: 10px;
}

.product-buttons button {
  padding: 6px 10px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.product-buttons button.edit {
  background-color: #1976d2;
  color: white;
}

.product-buttons button.delete {
  background-color: #d32f2f;
  color: white;
}

.product-buttons button.edit:hover {
  background-color: #1565c0;
}

.product-buttons button.delete:hover {
  background-color: #c62828;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
}